<p>
  <app-button (click)="goToWelcome()">
    BACK
  </app-button>
</p>

<app-button [minor]="true" (click)="setMode('FRIEND')">
  Friend Gallery
</app-button>

<app-button [minor]="true" (click)="setMode('LOCATION')">
  Location Gallery
</app-button>

<app-button [minor]="true" (click)="setMode('SONG')">
  Song Gallery
</app-button>

<section id="gallery-welcome" *ngIf="modeNotSet">
    <h1>Welcome to the Gallery!</h1>
    <p>
      You can view friend images or location images.
    </p>
</section>


<app-friend-gallery *ngIf="friendMode"></app-friend-gallery>
<app-location-gallery *ngIf="locationMode"></app-location-gallery>
<app-song-gallery *ngIf="songMode"></app-song-gallery>
